body {
  margin: 0;
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.link-minimalist {
  font-size: 0.95em;
  color: #333333;
  opacity: 0.7;
  transition: 0.2s;
}

.link-minimalist:hover {
  color: #333333;
  opacity: 1;
}

.font-small {
  font-size: 0.9em;
}

.font-normal {
  font-size: 1em;
}

.font-big {
  font-size: 1.3rem;
}

.jumbotron {
  background-color: white;
  border-radius: 0;
  margin-bottom: 0;
}

.text-title {
  font-size: 5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text-main {
  color: #495867;
}

.text-nav {
  color: #495867;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.text-board {
  color: #BDD5EA;
}

.text-hot {
  color: #F6B6EB;
}

.btn {
  font-size: 1em;
  letter-spacing: 1.5px;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.btn-main {
  background-color: #BDD5EA;
  color: #222;
  font-weight: bold;
}

.btn-main:hover, .btn-main:active, .btn-main:focus, .btn-main:visited {
  background-color: #9ec6eb !important;
  color: #222 !important;
  font-weight: bold;
}

.btn-no-text {
  color: #f3695f !important;
}

.btn-no-text:hover {
  color: #f3695f !important;
  cursor: pointer;
}

.btn-no {
  background-color: #f3695f !important;
  color: #222 !important;
}

.btn-no:hover, .btn-no:active, .btn-no:focus, .btn-no:visited {
  cursor: pointer;
  background-color: #f8584d !important;
  color: #222 !important;
}

.btn-no-white {
  background-color: #f3695f !important;
  color: #fff !important;
}

.btn-no-white:hover, .btn-no-white:active, .btn-no-white:focus, .btn-no-white:visited {
  cursor: pointer;
  background-color: #f8584d !important;
  color: #fff !important;
}

.btn-no-text {
  color: #f3695f !important;
  background-color: transparent !important;
  padding: 0px 5px 5px 5px;
}

.btn-no-text:hover, .btn-no-text:active, .btn-no-text:focus, .btn-no-text:visited {
  cursor: pointer;
  background-color: transparent !important;
  color: #d6362a !important;
}

.btn-yes {
  background-color: #a0e9bb !important;
  color: #222 !important;
}

.btn-yes:hover, .btn-yes:active, .btn-yes:focus, .btn-yes:visited {
  background-color: #95f092 !important;
  cursor: pointer;
  color: #222 !important;
}

.btn-hot {
  background-color: #F9CFF2;
  color: #222;
  font-weight: bold;
}

.btn-hot-bordered {
  background-color: transparent;
  color: #222;
  font-weight: bold;
  transform: 1s;
}

.btn-hot-bordered:hover, .btn-hot-bordered:active, .btn-hot-bordered:focus, .btn-hot-bordered:visited {
  background-color: #222 !important;
  color: #F9CFF2 !important;
  font-weight: bold;
}

.btn-hot:hover, .btn-hot:active, .btn-hot:focus {
  background-color: #F6B6EB !important;
  color: #222 !important;
  font-weight: bold;
}

.btn {
  border-radius: 0px;
  border: none;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc !important;
  color: #666666 !important;
}

.second {
  font-size: 0.9rem;
}

/* HOME PAGE */

.showcase
{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 2;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666677;
  mix-blend-mode: overlay;
}

.overlay-content
{
  z-index: 10;
}