body {
  margin: 0;
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:hover {
  text-decoration: none;
}

.font-small {
  font-size: 0.8rem;
}

.jumbotron {
  background-color: white;
  border-radius: 0;
  margin-bottom: 0;
}

.text-main {
  color: #495867;
}

.text-board {
  color: #BDD5EA;
}

.text-hot {
  color: #F6B6EB;
}

.btn-main {
  background-color: #BDD5EA;
  color: #222;
  font-weight: bold;
}

.btn-main:hover, .btn-main:active, .btn-main:focus, .btn-main:visited {
  background-color: #9ec6eb !important;
  color: #222 !important;
  font-weight: bold;
}

.btn-no-text {
  color: #f3695f !important;
}

.btn-no-text:hover {
  color: #f3695f !important;
  cursor: pointer;
}

.btn-no {
  background-color: #f3695f !important;
  color: #222 !important;
}

.btn-no:hover, .btn-no:active, .btn-no:focus, .btn-no:visited {
  cursor: pointer;
  background-color: #f8584d !important;
  color: #222 !important;
}

.btn-no-white {
  background-color: #f3695f !important;
  color: #fff !important;
}

.btn-no-white:hover, .btn-no-white:active, .btn-no-white:focus, .btn-no-white:visited {
  cursor: pointer;
  background-color: #f8584d !important;
  color: #fff !important;
}

.btn-yes {
  background-color: #a0e9bb !important;
  color: #222 !important;
}

.btn-yes:hover, .btn-yes:active, .btn-yes:focus, .btn-yes:visited {
  background-color: #95f092 !important;
  cursor: pointer;
  color: #222 !important;
}

.btn-hot {
  background-color: #F9CFF2;
  color: #222;
  font-weight: bold;
}

.btn-hot-bordered {
  background-color: transparent;
  color: #222;
  font-weight: bold;
  transform: 1s;
}

.btn-hot-bordered:hover, .btn-hot-bordered:active, .btn-hot-bordered:focus, .btn-hot-bordered:visited {
  background-color: #222 !important;
  color: #F9CFF2 !important;
  font-weight: bold;
}

.btn-hot:hover, .btn-hot:active, .btn-hot:focus {
  background-color: #F6B6EB !important;
  color: #222 !important;
  font-weight: bold;
}

.btn {
  border-radius: 0px;
  border: none;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc !important;
  color: #666666 !important;
}

.second {
  font-size: 0.9rem;
}