.list_overlay
{
    position: absolute;
    z-index: 20;
}

.list_overlay > .list-group-item:hover
{
    width: 100%;
    cursor: pointer;
    background-color: #ddd;
}

.show > input {
    display: inherit !important;
}

.flow-list-element {
    padding-left: 1em;
}